<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qrKey</key>
	<string>FHAjcomi1J_9gEIszyoUCul51rgxhb6K5AdBxjowfnq4FTYL5tLenJLxvP_R628D</string>
	<key>mixpanelKey</key>
	<string>ff8f35c4aa7d67838380626736c19066</string>
</dict>
</plist>
